@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <button type="button" id="btnCreateNew" class="btn btn-primary" data-toggle="modal" data-target="#bookModal">
        Create New
    </button>
</p>


<table id="listBooks" class="table">
    <thead>
        <tr>
            <th><label>Id</label></th>
            <th><label>Name</label></th>
            <th><label>Author</label></th>
            <th><label>Price</label></th>
            <th><label>Gender</label></th>
            <th><label>IsActive</label></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<div class="modal fade" id="bookModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label id="title"></label></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="hidden" class="form-control" id="Id" />
                            <label>Name</label>
                            <input type="text" id="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label>Author</label>
                            <input type="text" id="Author" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label>Price</label>
                            <input type="text" id="Price" name="numeric" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label>Gender</label>
                          
                            <input type="radio" id="Male" name="Gender" value="Male"> Male
                            <input type="radio" id="Female" name="Gender" value="Female"> Female<br>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label>IsActive</label>
                            <input type="checkbox" id="IsActive" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            getBooks();
        })

       
        var isUpdatable = false;
        //debugger
        function getBooks() {
            $.ajax({
                url: '/Book/GetBooks/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var rows = '';
                    $.each(data, function (i, item) {
                        rows += "<tr>"
                        rows += "<td>" + item.Id + "</td>"
                        rows += "<td>" + item.Name + "</td>"
                        rows += "<td>" + item.Author + "</td>"
                        rows += "<td>" + item.Price + "</td>"
                        rows += "<td>" + item.Gender + "</td>"
                        rows += "<td>" + item.IsActive + "</td>"
                        rows += "<td><button type='button' id='btnEdit' class='btn btn-default' onclick='return getDetailBook(" + item.Id + ")'>Edit</button> <button type='button' id='btnDelete' class='btn btn-danger' onclick='return deleteBook(" + item.Id + ")'>Delete</button></td>"
                        rows += "</tr>";
                        $("#listBooks tbody").html(rows);
                    });
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });
        }

       
        function getDetailBook(id) {
            $("#title").text("Details");
            $.ajax({
                url: '/Book/Get/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                  
                    if (data.Gender == "Male")
                    {
                        $("#Male").prop("checked", true);
                        $("#Female").prop("checked", false);
                    }
                    else {
                        $("#Female").prop("checked", true);
                        $("#Male").prop("checked", false);
                    }

                    if (data.IsActive == true) {
                        $("#IsActive").prop("checked", true);
                    }
                    else {
                        $("#IsActive").prop("checked", false);
                    }

                    $("#Id").val(data.Id);
                    $("#Name").val(data.Name);
                    $("#Author").val(data.Author);
                    $("#Price").val(data.Price);
                                   
                    $("#IsActive").val(data.IsActive);
                    isUpdatable = true;
                  
                    $("#bookModal").modal('show');
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });
        }

        
        $("#btnSave").click(function (e) {
            var myGender;
            var myIsActive;

            if (document.getElementById("Male").checked == true) {
                myGender = "Male";
            }
            else if (document.getElementById("Female").checked == true) {
                myGender =  "Female";
            }

            if (document.getElementById("IsActive").checked == true) {
                myIsActive = true;
            }
            else {
                myIsActive = false;
            }

           //debugger
           
            var data = {     
                Id: $("#Id").val(),
                Name: $("#Name").val(),
                Author: $("#Author").val(),
                Price: $("#Price").val(),
                Gender: myGender,
                IsActive: myIsActive
             
            }
           // debugger
            if (!isUpdatable) {
                $.ajax({
                    url: '/Book/Create/',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        getBooks();
                        $("#bookModal").modal('hide');
                        clear();
                    },
                    error: function (err) {
                        alert("Error: " + err.responseText);
                    }
                })
            }
            else {
                $.ajax({
                    url: '/Book/Update/',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        getBooks();
                        isUpdatable = false;
                        $("#bookModal").modal('hide');
                        clear();
                    },
                    error: function (err) {
                        alert("Error: " + err.responseText);
                    }
                })
            }
        });

        
        function deleteBook(id) {
            var confirmDelete = confirm("Do you want to delete this book ?");
            if (confirmDelete) {
                $.ajax({
                    url: "/Book/Delete/" + id,
                    type: "POST",
                    dataType: 'json',
                    success: function (data) {
                        getBooks();
                    },
                    error: function (err) {
                        alert("Error: " + err.responseText);
                    }
                });
            }
        }

        $("#btnCreateNew").click(function () {
            $("#title").text("Create New");
        })

       
        $("#btnClose").click(function () {
            clear();
        });

      
        function clear() {
            $("#Id").val("");
            $("#Name").val("");
            $("#Author").val("");
            $("#Price").val("");
            $('#Male').attr('checked', false) 
            $('#Female').attr('checked', false) 
            $('#IsActive').attr('checked', false) 
        }


        // Routine for making Price Numeric 

        var el = $('input[name="numeric"]');
        el.prop("autocomplete", false); // remove autocomplete (optional)
        el.on('keydown', function (e) {
            var allowedKeyCodesArr = [9, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 8, 37, 39, 109, 189, 46, 110, 190];  // allowed keys
            if ($.inArray(e.keyCode, allowedKeyCodesArr) === -1 && (e.keyCode != 17 && e.keyCode != 86)) {  // if event key is not in array and its not Ctrl+V (paste) return false;
                e.preventDefault();
            } else if ($.trim($(this).val()).indexOf('.') > -1 && $.inArray(e.keyCode, [110, 190]) != -1) {  // if float decimal exists and key is not backspace return fasle;
                e.preventDefault();
            } else {
                return true;
            };
        }).on('paste', function (e) {  // on paste
            var pastedTxt = e.originalEvent.clipboardData.getData('Text').replace(/[^0-9.]/g, '');  // get event text and filter out letter characters
            if ($.isNumeric(pastedTxt)) {  // if filtered value is numeric
                e.originalEvent.target.value = pastedTxt;
                e.preventDefault();
            } else {  // else 
                e.originalEvent.target.value = ""; // replace input with blank (optional)
                e.preventDefault();  // retur false
            };
        });






    </script>
}



